version: "3.7"

services:
  web:
    build: .
    container_name: delivery_service
    image: delivery_service
    restart: on-failure
    links:
      - ds_mongodb
    environment:
      - SERVER_PORT=8080
      - SERVER_ADDRESS=0.0.0.0
      - MONGODB_URI=mongodb://ds_delivery_user:secret@ds_mongodb:27017/ds_mongodb?authSource=admin
      - MONGODB_STATUS_HOST=ds_mongodb
      - MONGODB_STATUS_PORT=27018
    ports:
      - "8080:8080"
    depends_on:
      - ds_mongodb

  ds_mongodb:
    image: mongo:latest
    command: mongod --port 27018
    container_name: ds_mongodb
    hostname: ds_mongodb
    restart: unless-stopped
    environment:
      MONGO_INITDB_DATABASE: ds_mongodb
      MONGO_INITDB_ROOT_USERNAME: ds_delivery_user
      MONGO_INITDB_ROOT_PASSWORD: secret
    ports:
      - 27018:27018
    volumes:
      - "./data/db:/data/db"
